*{
    margin: 0;
    padding: 0;
}    
.cover{
    background-image: url("../images/registration.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    color: #159F5C;
    font-size: 80px;
}
.heading{
    color:#0064D2;
    font-size: 20px;
}
.radio-title{
    font-size:18px;
    color:#0000FF;
}
.rbtn{
    color: #990000;
}
.button-sign{
    margin-left: 37%;
    width: 300px;
}
@media screen and (max-width: 480px) {
                [class*='col-'] {
                    width: 100%;
                }
            }

